<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FER 😀</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div class="card">
        <h1>Emotion Recognition 😀</h1>
        <p>Made By: <a href="https://www.linkedin.com/in/mostafa-eslam-85037423b/" id="link" target="_blank">Mostafa Eslam</a></p>
        <br>
        <form action="/" method="POST" enctype="multipart/form-data" class="upload">
            <div class="submit-class">
                <label class="upload-btn" for="image-upload">Choose Image</label>
                <input type="file" id="image-upload" name="image" required>
                <button type="submit">Upload</button>
            </div>
        </form>
        <img src="{{ url_for('static', filename='output.jpg') }}" alt="Output Image">
        <br>
        <p class="emo">Detected Emotion: {{ emotion }}</p>
    </div>

</body>
</html>
